/* :nth-child Pseudo-classes------------------ */

/* 2n+3 reads as third child and then every 2nd child after that  an+b------------------ */
/* li:nth-child(2n+3) {
    background: #52bab3;
    color: white;
} */


/* use nth-of-type to narrowly target child elements by type. this one hits the 4th div child */
div:nth-of-type(4) {
    background: #52bab3;
    color: white;
}

/* last of child selects in reverse order. */
div:nth-last-child(1) {
    background: #52bab3;
    color: white;
}